@font-face {
  font-family: "Circe";
  src: url("../fonts/circeregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/circebold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplaybold.woff2") format("woff2"), url("../fonts/playfairdisplaybold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplaybolditalic.woff2") format("woff2"), url("../fonts/playfairdisplaybolditalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Intro Script";
  src: url("../fonts/introscript.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  min-width: 320px;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #fbebea; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.content-wrapper {
  padding: 0 20px;
  min-width: 280px; }
  @media (min-width: 768px) {
    .content-wrapper {
      margin: 0 auto;
      width: 728px; } }

.page-header {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #ffffff; }

.page-header__wrapper {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0 auto;
  background-color: #ffffff; }

.page-header__phone {
  display: none; }

@media (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 47px 12px;
    width: 674px; }
  .page-header__phone {
    display: block;
    margin-right: 40px; }
    .page-header__phone a {
      color: inherit;
      text-decoration: none;
      font-size: 15px;
      line-height: 32px;
      font-weight: 700; } }

.main-nav__logo {
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700; }
  .main-nav__logo--footer {
    margin-bottom: 15px; }

.main-nav__logo-link {
  color: inherit;
  text-decoration: none; }
  .main-nav__logo-link--header {
    font-size: 16px;
    line-height: 32px; }
  .main-nav__logo-link--footer {
    font-size: 28px;
    line-height: 43px; }

.main-nav__button {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0;
  width: 18px;
  height: 14px;
  border: none;
  background-color: transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .main-nav__button::before, .main-nav__button::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  .main-nav__button::before {
    top: 0;
    -webkit-box-shadow: 0 6px 0 #000000;
            box-shadow: 0 6px 0 #000000; }
  .main-nav__button::after {
    bottom: 0; }

.main-nav__button--active::before {
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none; }

.main-nav__button--active::after {
  bottom: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__link {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

.main-nav__list--header {
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #e7e7e7;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  opacity: 0; }
  .main-nav__list--header .main-nav__link {
    display: block;
    padding: 15px 0 11px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase; }
    .main-nav__list--header .main-nav__link:hover, .main-nav__list--header .main-nav__link:active {
      background-color: #ababab; }
  .main-nav__list--header .main-nav__item:not(:first-child) .main-nav__link {
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05); }

.main-nav--no-js .main-nav__list--header {
  position: static;
  visibility: visible;
  opacity: 1; }

.main-nav--no-js .main-nav__button {
  display: none; }

.main-nav__list--show {
  top: 100%;
  visibility: visible;
  opacity: 1; }

.main-nav__list--footer .main-nav__item {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .main-nav__logo-link--header {
    font-size: 20px;
    line-height: 32px; }
  .main-nav__list--header .main-nav__link {
    font-size: 14px; }
  .main-nav__button {
    right: 47px;
    width: 26px;
    height: 18px; }
    .main-nav__button::before {
      -webkit-box-shadow: 0 8px 0 #000000;
              box-shadow: 0 8px 0 #000000; }
  .main-nav__button--active::before {
    top: 8px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav__button--active::after {
    bottom: 8px; }
  .main-nav--no-js {
    width: 100%; } }

.button {
  padding: 17px 67px;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f50049;
  border-radius: 25px;
  border: none; }
  .button:hover, .button:focus {
    -webkit-box-shadow: 0 5px 8px 2px rgba(255, 0, 67, 0.3);
            box-shadow: 0 5px 8px 2px rgba(255, 0, 67, 0.3); }
  .button:active {
    -webkit-box-shadow: 0 3px 6px 1px rgba(255, 0, 67, 0.3);
            box-shadow: 0 3px 6px 1px rgba(255, 0, 67, 0.3); }

.page-main__features {
  padding-bottom: 170px;
  background-image: url("../img/cake2-mobile.png");
  background-repeat: no-repeat;
  background-position: center 209%; }

@media (min-width: 768px) {
  .page-main__features {
    margin: 0 auto;
    width: 768px;
    padding-bottom: 105px;
    background-image: url("../img/fruts-tablet.png"), url("../img/cake2-tablet.png");
    background-repeat: no-repeat, no-repeat;
    background-position: -20px top, right bottom;
    background-clip: border-box; } }

.promo {
  padding-top: 130px;
  text-align: center;
  background-image: url("../img/cake1-mobile.png");
  background-repeat: no-repeat;
  background-position: center -205px; }

.promo__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
  font-size: 40px; }

.promo__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 15px;
  font-size: 22px; }

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 280px;
  text-align: left; }

.promo__item {
  position: relative;
  padding-left: 42px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .promo__item::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center; }
  .promo__item--stuff::before {
    background-image: url("../img/stuff-icon-mobile.svg"); }
  .promo__item--delivery::before {
    background-image: url("../img/delivery-icon-mobile.svg"); }

.promo__button {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  color: #ffffff; }

@media (min-width: 768px) {
  .promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 47px;
    padding-top: 110px;
    margin-bottom: 50px;
    width: 674px;
    text-align: left;
    background-image: url("../img/cake1-tablet.png");
    background-position: 273px 10px; }
  .promo__title {
    width: 275px;
    font-size: 60px;
    line-height: 55px; }
  .promo__subtitle {
    margin-bottom: 50px;
    font-size: 36px; }
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    width: auto;
    font-size: 14px;
    line-height: 18px; }
  .promo__item {
    padding-left: 67px; }
    .promo__item::before {
      top: -15px;
      width: 55px;
      height: 55px; }
    .promo__item--stuff {
      width: 195px; }
      .promo__item--stuff::before {
        background-image: url("../img/stuff-icon-tablet.svg"); }
    .promo__item--delivery {
      width: 220px; }
      .promo__item--delivery::before {
        background-image: url("../img/delivery-icon-tablet.svg"); }
  .promo__button {
    margin-bottom: 145px; } }

.catalog {
  padding-top: 40px; }

.catalog__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 28px;
  text-align: center;
  font-size: 24px; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog__item {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 280px;
  min-height: 120px; }

@media (min-width: 768px) {
  .catalog__title {
    margin-bottom: 33px;
    font-size: 28px;
    text-align: left; }
  .catalog__list {
    display: grid;
    grid-template-columns: 288px 112px 288px;
    grid-template-rows: repeat(4, 184px);
    grid-gap: 20px;
    margin-bottom: 17px; }
  .catalog__item {
    margin: 0;
    width: auto;
    background-color: red; }
    .catalog__item:first-child {
      grid-column: 1 / 3;
      grid-row: 1 / 3; }
    .catalog__item:last-child {
      grid-column: 2 / 4;
      grid-row: 3 / 5; }
    .catalog__item img {
      width: 100%; } }

.catalog-card {
  position: relative;
  -webkit-box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.05);
          box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.05); }

.catalog-card__link {
  color: inherit;
  text-decoration: none; }

.catalog-card__image {
  width: 280px;
  height: 120px; }

.catalog-card__title {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400; }

.catalog-card__amount {
  font-size: 12px;
  opacity: 0.7; }

.catalog-card__text-block {
  position: absolute;
  top: 10px;
  left: 10px; }

.catalog-card__arrow {
  display: none; }

@media (min-width: 768px) {
  .catalog-card__image {
    width: auto;
    height: auto; } }

.order {
  padding-top: 40px; }

.order__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 78.5%;
  max-width: 355px;
  text-align: center;
  font-size: 24px; }

.order__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px; }

.order__choice-block {
  margin: 0 auto;
  margin-bottom: 10px; }
  .order__choice-block--decor {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .order__title {
    font-size: 28px; }
  .order__subtitle {
    margin-bottom: 27px;
    font-size: 26px; }
  .order__choice-block {
    margin: 0;
    margin-bottom: 20px; }
    .order__choice-block--decor {
      margin-bottom: 0;
      background-image: url("../img/decor-tablet.png");
      background-repeat: no-repeat;
      background-position: 20px 120px; } }

.slider-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px rgba(255, 0, 67, 0.1);
          box-shadow: 0 1px 2px rgba(255, 0, 67, 0.1); }
  .slider-toggle::before, .slider-toggle::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #f78383; }
  .slider-toggle--prev::before {
    top: 16px;
    left: 14px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .slider-toggle--prev::after {
    bottom: 16px;
    left: 14px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .slider-toggle--next::before {
    top: 16px;
    right: 14px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .slider-toggle--next::after {
    bottom: 16px;
    right: 14px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .slider-toggle:hover, .slider-toggle:focus {
    -webkit-box-shadow: 0 2px 4px rgba(255, 0, 67, 0.3);
            box-shadow: 0 2px 4px rgba(255, 0, 67, 0.3); }
  .slider-toggle:active {
    -webkit-box-shadow: 0 1px 2px rgba(255, 0, 67, 0.2);
            box-shadow: 0 1px 2px rgba(255, 0, 67, 0.2); }

.choice-block {
  position: relative;
  padding: 8px 20px 15px;
  width: 240px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 13px rgba(163, 6, 60, 0.1);
          box-shadow: 0 5px 13px rgba(163, 6, 60, 0.1); }

.choice-block__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #f50049;
  margin-bottom: 25px;
  font-size: 16px; }

.choice-block__number {
  padding-right: 13px;
  font-size: 30px;
  line-height: 1; }

.choice-block__slider {
  width: 240px;
  overflow: hidden; }
  .choice-block__slider input[type="radio"] {
    display: none; }
  .choice-block__slider--decor {
    margin-bottom: 40px; }

.choice-block__toggle {
  display: none; }

@media (min-width: 768px) {
  .choice-block {
    padding: 30px 47px 36px;
    width: auto; }
    .choice-block--flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .choice-block--size .choice-block__title {
    margin-bottom: 0; }
  .choice-block__title {
    width: 110px;
    font-size: 18px; }
  .choice-block__number {
    display: block;
    margin-bottom: 5px;
    font-size: 36px; }
  .choice-block__slider {
    margin: 0 auto;
    width: 440px; }
    .choice-block__slider--size {
      width: auto; }
    .choice-block__slider--decor {
      margin-bottom: 20px; }
  .choice-block__toggle {
    position: absolute;
    top: 160px;
    display: block; }
    .choice-block__toggle--prev {
      left: 150px; }
    .choice-block__toggle--next {
      right: 40px; } }

.filling-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.filling-list__item {
  text-align: center; }

.filling-list__image {
  margin-bottom: 35px;
  width: 240px;
  height: 113px;
  background-color: #fbebea; }

.filling-list__description {
  text-align: left; }

.filling-list__name {
  font-size: 16px;
  font-weight: 700; }

.filling-list__text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px; }

.filling-list__price {
  display: block;
  margin-bottom: 20px;
  font-family: "Playfair Display", "Times", serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center; }

.filling-list__button {
  display: inline-block;
  padding: 17px 60px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .filling-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 10px;
    text-align: left; }
  .filling-list__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 210px;
    height: 237px;
    margin-right: 20px;
    margin-bottom: 0; }
  .filling-list__wrapper {
    width: 250px; }
  .filling-list__description {
    padding-top: 20px; }
  .filling-list__name {
    font-size: 18px; }
  .filling-list__price {
    font-size: 20px;
    text-align: left; }
  .filling-list__button {
    padding: 17px 47px; } }

.size-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.size-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 240px;
  text-align: center; }

.size-list__image {
  position: relative;
  margin: auto 0; }
  .size-list__image::before {
    content: attr(data-weight);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.size-list__text {
  margin-top: 40px;
  font-size: 14px;
  line-height: 20px; }

.size-list__button {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 17px 60px; }

@media (min-width: 768px) {
  .size-list {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .size-list__item {
    width: auto;
    min-width: 120px;
    text-align: left; }
  .size-list__image {
    margin: 0;
    margin-top: auto;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%; }
    .size-list__image--one {
      width: 107px;
      height: 107px; }
    .size-list__image--two {
      width: 137px;
      height: 137px; }
    .size-list__image--five {
      width: 150px;
      height: 150px; }
    .size-list__image--eight {
      width: 170px;
      height: 170px; }
    .size-list__image:hover {
      -webkit-box-shadow: 0 6px 16px rgba(103, 12, 40, 0.14);
              box-shadow: 0 6px 16px rgba(103, 12, 40, 0.14); }
  .size-list__text {
    margin-top: 5px; }
  .size-list__button {
    display: none; } }

.decor-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.decor-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 240px; }

.decor-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  width: 170px;
  height: 196px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 0, 67, 0.1);
          box-shadow: 0 2px 5px rgba(255, 0, 67, 0.1); }
  .decor-list__image img {
    margin: auto 0; }

.decor-list__name {
  margin-bottom: 5px; }

.decor-list__price {
  margin-bottom: 30px;
  font-family: "Playfair Display", "Times", serif;
  font-size: 18px;
  font-weight: bold; }

.decor-list__button {
  display: inline-block;
  padding: 17px 60px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .decor-list__item {
    width: 196px;
    height: 262px;
    margin: 12px;
    -webkit-box-shadow: 0 7px 13px rgba(103, 12, 40, 0.05);
            box-shadow: 0 7px 13px rgba(103, 12, 40, 0.05); }
    .decor-list__item:hover {
      -webkit-box-shadow: 0 6px 10px rgba(103, 12, 40, 0.14);
              box-shadow: 0 6px 10px rgba(103, 12, 40, 0.14); }
  .decor-list__image {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 196px;
    height: 160px;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .decor-list__image img {
      width: 196px;
      height: 160px; }
  .decor-list__price {
    margin-bottom: 15px; }
  .decor-list__button {
    display: none; } }

.order-form {
  width: 240px;
  text-align: center;
  background-color: #ffffff; }

.order-form__block {
  margin: 0;
  padding: 0;
  border: none; }

.order-form__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  font-size: 22px;
  text-align: left; }

.order-form__input {
  margin: 0;
  margin-bottom: 8px; }
  .order-form__input:last-child {
    margin-bottom: 30px; }

.order-form__button {
  padding: 17px 62px; }

@media (min-width: 768px) {
  .order-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .order-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 437px; }
  .order-form__title {
    font-size: 18px; }
  .order-form__input {
    margin: 0; }
    .order-form__input:last-child {
      margin: 0; }
    .order-form__input--fill, .order-form__input--decor {
      width: 160px; }
    .order-form__input--size {
      width: 75px; }
  .order-form__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 17px 32px; } }

.input-text--order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .input-text--order {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .input-text--order .input-text__label {
    font-family: "Intro Script", "Comic Sans MS", cursive;
    font-size: 20px;
    line-height: 30px;
    color: #f50049; }
  .input-text--order .input-text__field {
    padding: 6px;
    width: 100%;
    font: inherit;
    font-size: 14px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .input-text--order .input-text__field::-webkit-input-placeholder {
      color: #000000;
      opacity: 0.5; }
    .input-text--order .input-text__field:-ms-input-placeholder {
      color: #000000;
      opacity: 0.5; }
    .input-text--order .input-text__field::-ms-input-placeholder {
      color: #000000;
      opacity: 0.5; }
    .input-text--order .input-text__field::placeholder {
      color: #000000;
      opacity: 0.5; }

.input-text--question {
  margin: 0; }
  .input-text--question .input-text__field {
    padding: 17px 11px;
    width: 100%;
    font: inherit;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .input-text--question .input-text__field--textarea {
      resize: none; }
    .input-text--question .input-text__field::-webkit-input-placeholder {
      color: #000000;
      opacity: 0.2; }
    .input-text--question .input-text__field:-ms-input-placeholder {
      color: #000000;
      opacity: 0.2; }
    .input-text--question .input-text__field::-ms-input-placeholder {
      color: #000000;
      opacity: 0.2; }
    .input-text--question .input-text__field::placeholder {
      color: #000000;
      opacity: 0.2; }

.reviews {
  padding-top: 40px; }

.reviews__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px; }

.reviews__slider {
  margin: 0 auto;
  width: 280px;
  overflow: hidden; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 20px;
  width: 240px;
  font-size: 12px; }

.reviews__wrapper {
  text-align: center; }

.reviews__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden; }

.reviews__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; }

.reviews__text {
  margin: 0;
  margin-top: 10px; }

.reviews__link {
  font-style: italic;
  color: #f50049; }

.reviews__toggle {
  display: none; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    margin-bottom: 80px;
    background-image: url("../img/flags-tablet.png");
    background-repeat: no-repeat;
    background-position: center -10px; }
  .reviews__title {
    margin-bottom: 20px;
    font-size: 28px; }
  .reviews__slider {
    width: 440px; }
  .reviews__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 440px;
    padding: 0 20px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .reviews__wrapper {
    width: 255px;
    text-align: left; }
  .reviews__photo {
    margin-right: 25px;
    width: 108px;
    height: 108px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .reviews__name {
    font-size: 16px;
    line-height: 1.2; }
  .reviews__toggle {
    position: absolute;
    top: 140px;
    display: block; }
    .reviews__toggle--prev {
      left: 90px; }
    .reviews__toggle--next {
      right: 90px; } }

.about-us {
  padding-top: 40px; }

.about-us__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 25px;
  text-align: center;
  font-size: 24px; }

.about-us__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
  font-size: 22px; }

.about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 280px; }

.about-us__photo {
  margin-right: 34px;
  margin-bottom: 10px;
  width: 156px;
  height: 156px;
  border-radius: 50%;
  overflow: hidden; }

.about-us__topic {
  display: inline-block;
  margin-bottom: 8px; }

.about-us__text {
  margin: 0; }

.about-us__text + .about-us__topic {
  margin-top: 15px; }

.about-us__quote {
  display: block;
  margin: 0 auto;
  width: 280px;
  font-family: "Playfair Display", "Times", serif;
  font-size: 13px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  quotes: none; }
  .about-us__quote::before {
    content: "\275C\275C";
    display: block;
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 2px; }
  .about-us__quote::after {
    content: "";
    display: block;
    width: 64px;
    height: 31px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../img/signature-mobile.png");
    background-repeat: no-repeat;
    background-position: center; }

@media (min-width: 768px) {
  .about-us {
    position: relative;
    padding: 0 47px;
    width: 674px; }
  .about-us__title {
    margin-bottom: 5px;
    font-size: 28px;
    text-align: left; }
  .about-us__subtitle {
    font-size: 26px; }
  .about-us__wrapper {
    margin: 0;
    margin-bottom: 30px;
    width: 335px; }
  .about-us__photo {
    position: absolute;
    top: 10px;
    right: 47px;
    margin: 0;
    width: 311px;
    height: 311px; }
    .about-us__photo img {
      width: 311px;
      height: 311px; }
  .about-us__text-block {
    margin-bottom: 20px; }
  .about-us__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .about-us__topic {
    font-size: 15px; }
  .about-us__quote {
    width: 375px;
    font-size: 14px;
    line-height: 20px; }
    .about-us__quote::before {
      margin-bottom: 10px;
      font-size: 40px; }
    .about-us__quote::after {
      width: 82px;
      height: 40px;
      background-image: url("../img/signature-tablet.png"); } }

.social-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.social-list__link {
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.social-list__icon {
  margin: auto; }

.social-list--about-us .social-list__item {
  margin-bottom: 15px; }

.social-list--about-us .social-list__link {
  width: 36px;
  height: 36px; }

.social-list--contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px; }
  .social-list--contacts .social-list__item {
    margin-right: 30px; }
  .social-list--contacts .social-list__link {
    width: 63px;
    height: 63px; }

.social-list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .social-list--footer .social-list__item {
    margin-right: 18px; }
  .social-list--footer .social-list__icon {
    fill: #ffffff;
    opacity: 0.4; }
  .social-list--footer .social-list__link:hover .social-list__icon,
  .social-list--footer .social-list__link:focus .social-list__icon {
    opacity: 1; }

.social-list__link--white {
  border-radius: 50%;
  background-color: #ffffff; }
  .social-list__link--white:hover, .social-list__link--white:focus {
    -webkit-box-shadow: 0 5px 8px rgba(255, 0, 67, 0.2);
            box-shadow: 0 5px 8px rgba(255, 0, 67, 0.2); }
  .social-list__link--white:active {
    -webkit-box-shadow: 0 3px 6px rgba(255, 0, 67, 0.2);
            box-shadow: 0 3px 6px rgba(255, 0, 67, 0.2); }
  .social-list__link--white .social-list__icon {
    fill: #f50049; }
  .social-list__link--white:active .social-list__icon {
    opacity: 0.5; }

@media (min-width: 768px) {
  .social-list--about-us .social-list__item {
    margin: 0;
    margin-right: 20px; } }

.advantages {
  padding-top: 40px; }

.advantages__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
  text-align: center;
  font-size: 24px; }

.advantages__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 20px;
  margin: 0 auto;
  width: 280px;
  text-align: center;
  background-color: #ffffff; }

.advantages__item {
  position: relative;
  padding-top: 70px;
  margin-bottom: 5px; }
  .advantages__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 85px;
    height: 62px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center; }
  .advantages__item--stuff::before {
    background-image: url("../img/stuff-icon-big.svg"); }
  .advantages__item--fresh::before {
    background-image: url("../img/fresh-icon.png");
    background-size: contain; }

.advantages__text {
  margin: 0; }

.advantages__topic {
  font-size: 16px;
  font-weight: 700; }

@media (min-width: 768px) {
  .advantages {
    margin: 0 auto;
    padding: 0 47px;
    padding-top: 40px;
    margin-bottom: 200px;
    width: 674px; }
  .advantages__title {
    font-size: 28px; }
  .advantages__subtitle {
    margin-bottom: 40px;
    font-size: 26px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: auto;
    text-align: left;
    background: none; }
  .advantages__item {
    padding-top: 0;
    padding-left: 70px;
    margin-bottom: 15px;
    width: 345px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .advantages__item::before {
      left: 0; }
  .advantages__text {
    margin-top: 7px; } }

.care {
  margin: 0 auto;
  padding-top: 40px;
  width: 280px; }

.care__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
  font-size: 24px; }

.care__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 22px; }

.care__text {
  margin: 0; }

@media (min-width: 768px) {
  .care {
    padding: 0 47px;
    width: auto; }
  .care__wrapper {
    width: 325px; } }

.manual {
  color: #ffffff;
  background-color: #e3353d;
  background-image: url("../img/manual-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom; }

.manual__wrapper {
  margin: 0 auto;
  padding: 30px 20px 145px;
  width: 280px; }

.manual__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 35px;
  text-align: center;
  font-size: 24px; }

.manual__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: myCounter; }

.manual__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 46px; }
  .manual__item::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    top: -11px;
    left: 20px;
    font-family: "Playfair Display", "Times", serif;
    font-size: 35px;
    line-height: 1; }

.manual__topic {
  font-size: 15px;
  font-weight: 700; }

.manual__text {
  padding: 0;
  margin: 0; }

.contacts {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 280px; }

.contacts__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
  font-size: 24px; }

.contacts__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
  font-size: 22px; }

.contacts__text {
  display: inline-block;
  margin-bottom: 7px; }

.contacts__form {
  margin-bottom: 25px;
  width: 280px;
  text-align: center; }

.contacts__input {
  margin-bottom: 10px; }
  .contacts__input:last-of-type {
    margin-bottom: 20px; }

.contacts__button {
  padding: 17px 50px; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__item {
  margin-bottom: 15px; }

.contacts__link {
  color: inherit;
  text-decoration: none; }

.page-footer {
  color: #ffffff;
  background-color: #898989; }

.page-footer__wrapper {
  margin: 0 auto;
  padding-top: 35px;
  width: 280px; }

.page-footer__phone {
  margin-bottom: 15px; }
  .page-footer__phone a {
    color: inherit;
    text-decoration: none; }

.page-footer__social {
  margin-bottom: 20px; }

.page-footer__copyright {
  padding: 8px 0;
  font-size: 12px;
  opacity: 0.5;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }
