@font-face {
  font-family: "Circe";
  src: url("../fonts/circeregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/circebold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplaybold.woff2") format("woff2"), url("../fonts/playfairdisplaybold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplaybolditalic.woff2") format("woff2"), url("../fonts/playfairdisplaybolditalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Intro Script";
  src: url("../fonts/introscript.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  min-width: 320px;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #fbebea;
  background-image: url("../img/cake1-mobile.png");
  background-repeat: no-repeat;
  background-position: center -160px; }

img {
  width: 100%;
  height: auto; }

@media (min-width: 768px) {
  body {
    background-image: none; } }

@media (min-width: 1260px) {
  body {
    background-image: url("../img/cake1-desktop.png");
    background-position: right 90px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.content-wrapper {
  padding: 0 20px;
  min-width: 280px; }
  @media (min-width: 768px) {
    .content-wrapper {
      margin: 0 auto;
      width: 728px; } }
  @media (min-width: 1260px) {
    .content-wrapper {
      width: 1220px; } }

.page-header {
  position: relative;
  z-index: 1; }

.page-header__wrapper {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0 auto;
  background-color: #ffffff; }

.page-header__phone {
  display: none; }

@media (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 47px 12px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .page-header__phone {
    display: block;
    margin-right: 40px; }
    .page-header__phone a {
      color: inherit;
      text-decoration: none;
      font-size: 15px;
      line-height: 32px;
      font-weight: 700; } }

@media (min-width: 1260px) {
  .page-header__wrapper {
    width: 1220px;
    padding: 0;
    padding-top: 50px;
    background: none; }
  .page-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .page-header__phone {
    margin-right: 0; }
    .page-header__phone a {
      font-size: 22px; } }

.main-nav__logo {
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700; }
  .main-nav__logo--header {
    font-size: 18px;
    line-height: 32px; }
  .main-nav__logo--footer {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 43px; }

.main-nav__logo-link {
  color: inherit;
  text-decoration: none; }

.main-nav__button {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0;
  width: 18px;
  height: 14px;
  border: none;
  background-color: transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .main-nav__button::before, .main-nav__button::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  .main-nav__button::before {
    top: 0;
    -webkit-box-shadow: 0 6px 0 #000000;
            box-shadow: 0 6px 0 #000000; }
  .main-nav__button::after {
    bottom: 0; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__link {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

.main-nav__list--header {
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #e7e7e7;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  opacity: 0; }
  .main-nav__list--header .main-nav__link {
    display: block;
    padding: 15px 0 11px;
    text-align: center;
    text-transform: uppercase; }
    .main-nav__list--header .main-nav__link:hover, .main-nav__list--header .main-nav__link:active {
      background-color: #ababab; }
  .main-nav__list--header .main-nav__item:not(:first-child) .main-nav__link {
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05); }

.main-nav__list--footer .main-nav__item {
  margin-bottom: 15px; }

.main-nav__list--footer .main-nav__link:hover, .main-nav__list--footer .main-nav__link:focus {
  text-decoration: underline; }

.main-nav--no-js .main-nav__list--header {
  position: static;
  visibility: visible;
  opacity: 1; }

.main-nav--no-js .main-nav__button {
  display: none; }

.main-nav--show .main-nav__list--header {
  top: 100%;
  visibility: visible;
  opacity: 1; }

.main-nav--show .main-nav__button::before {
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none; }

.main-nav--show .main-nav__button::after {
  bottom: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

@media (min-width: 768px) {
  .main-nav__logo--header {
    font-size: 22px; }
  .main-nav__logo--footer {
    margin-right: 40px;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.2; }
  .main-nav__button {
    right: 47px;
    width: 26px;
    height: 18px; }
    .main-nav__button::before {
      -webkit-box-shadow: 0 8px 0 #000000;
              box-shadow: 0 8px 0 #000000; }
  .main-nav--show .main-nav__button::before {
    top: 8px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--show .main-nav__button::after {
    bottom: 8px; }
  .main-nav--no-js {
    width: 100%; }
  .main-nav__list--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 530px; }
    .main-nav__list--footer .main-nav__item {
      margin-right: 15px;
      margin-bottom: 0;
      margin-top: 5px;
      text-align: center; } }

@media (min-width: 1260px) {
  .main-nav__logo--header {
    margin-right: 50px;
    font-size: 28px; }
  .main-nav__logo--footer {
    margin-right: 140px;
    font-size: 28px; }
  .main-nav__button {
    display: none; }
  .main-nav__list--header {
    position: static;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 12px;
    width: 850px;
    background: none;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
    opacity: 1; }
    .main-nav__list--header .main-nav__item {
      margin-right: 44px; }
    .main-nav__list--header .main-nav__link {
      display: inline-block;
      padding: 0; }
      .main-nav__list--header .main-nav__link:hover, .main-nav__list--header .main-nav__linkfocus {
        color: #f50049;
        background: none; }
    .main-nav__list--header .main-nav__item:not(:first-child) .main-nav__link {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .main-nav__list--footer {
    width: 880px;
    font-size: 16px; }
    .main-nav__list--footer .main-nav__item {
      margin-top: 15px;
      margin-right: 50px; } }

.button {
  padding: 17px 67px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f50049;
  border-radius: 25px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer; }
  .button:hover, .button:focus {
    -webkit-box-shadow: 0 5px 8px rgba(255, 0, 67, 0.3);
            box-shadow: 0 5px 8px rgba(255, 0, 67, 0.3); }
  .button:active {
    -webkit-box-shadow: 0 3px 6px rgba(255, 0, 67, 0.3);
            box-shadow: 0 3px 6px rgba(255, 0, 67, 0.3); }

.page-main__features {
  padding-bottom: 170px;
  background-image: url("../img/cake2-mobile.png");
  background-repeat: no-repeat;
  background-position: center 209%; }

@media (min-width: 768px) {
  .page-main__features {
    margin: 0 auto;
    width: 768px;
    padding-bottom: 105px;
    background-image: url("../img/fruts-tablet.png"), url("../img/cake2-tablet.png");
    background-repeat: no-repeat, no-repeat;
    background-position: -20px top, right bottom;
    background-clip: border-box; } }

@media (min-width: 1260px) {
  .page-main__features {
    margin: 0;
    padding-bottom: 250px;
    width: auto;
    background-image: url("../img/fruts-desktop.png"), url("../img/cake2-desktop.png"); } }

.promo {
  margin-bottom: 20px;
  padding-top: 130px;
  text-align: center; }

.promo__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
  font-size: 40px; }

.promo__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 15px;
  font-size: 24px; }

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 280px;
  text-align: left; }

.promo__item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .promo__item::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center; }
  .promo__item--stuff::before {
    background-image: url("../img/stuff-icon-mobile.svg"); }
  .promo__item--delivery::before {
    background-image: url("../img/delivery-icon-mobile.svg"); }

.promo__button {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  color: #ffffff; }

@media (min-width: 768px) {
  .promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 47px;
    padding-top: 110px;
    width: 674px;
    text-align: left;
    background-image: url("../img/cake1-tablet.png");
    background-repeat: no-repeat;
    background-position: right 10px; }
  .promo__title {
    width: 275px;
    font-size: 60px;
    line-height: 55px; }
  .promo__subtitle {
    margin-bottom: 50px;
    font-size: 36px; }
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    width: 440px;
    font-size: 14px;
    line-height: 18px; }
  .promo__item {
    padding-left: 67px; }
    .promo__item::before {
      top: -15px;
      width: 55px;
      height: 55px; }
    .promo__item--stuff {
      width: 195px; }
      .promo__item--stuff::before {
        background-image: url("../img/stuff-icon-tablet.svg"); }
    .promo__item--delivery {
      width: 220px; }
      .promo__item--delivery::before {
        background-image: url("../img/delivery-icon-tablet.svg"); }
  .promo__button {
    margin-bottom: 145px; } }

@media (min-width: 1260px) {
  .promo {
    padding: 140px 20px 0;
    margin-bottom: 120px;
    width: 1220px;
    background-image: none; }
  .promo__title {
    margin-bottom: 25px;
    width: 370px;
    font-size: 78px;
    line-height: 70px;
    letter-spacing: 3px; }
  .promo__subtitle {
    font-size: 40px; }
  .promo__list {
    width: 520px;
    font-size: 18px;
    line-height: 1.2; }
  .promo__item::before {
    top: -10px; }
  .promo__item--stuff {
    width: 200px; }
  .promo__item--delivery {
    width: 280px; } }

.catalog {
  margin-bottom: 20px;
  padding-top: 20px; }

.catalog__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 28px;
  text-align: center;
  font-size: 24px; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog__item {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 280px;
  min-height: 120px;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .catalog {
    margin-bottom: 35px; }
  .catalog__title {
    margin-bottom: 33px;
    font-size: 28px;
    text-align: left; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog__item {
    margin: 0;
    margin-right: 19px;
    margin-bottom: 19px;
    width: 230px; }
    .catalog__item:nth-child(3n) {
      margin-right: 0; }
  @supports (display: grid) {
    .catalog__list {
      display: grid;
      grid-template-columns: 288px 112px 288px;
      grid-template-rows: repeat(4, 184px);
      grid-gap: 20px; }
    .catalog__item {
      margin: 0;
      width: auto; }
      .catalog__item:first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3; }
      .catalog__item:last-child {
        grid-column: 2 / 4;
        grid-row: 3 / 5; } } }

@media (min-width: 1260px) {
  .catalog {
    padding-top: 100px; }
  .catalog__title {
    margin-bottom: 55px;
    font-size: 40px; }
  .catalog__item {
    margin-right: 40px;
    margin-bottom: 40px;
    width: 380px; }
    .catalog__item:nth-child(3n) {
      margin-right: 0; }
  @supports (display: grid) {
    .catalog__list {
      grid-template-columns: 483px 174px 483px;
      grid-template-rows: repeat(4, 304px);
      grid-gap: 40px; }
    .catalog__item {
      margin: 0;
      width: auto; } } }

.catalog-card {
  position: relative;
  -webkit-box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.05);
          box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.05);
  overflow: hidden; }

.catalog-card__link {
  color: inherit;
  text-decoration: none; }

.catalog-card__image {
  width: 280px;
  height: 120px; }

.catalog-card__title {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400; }

.catalog-card__amount {
  font-size: 12px;
  opacity: 0.7; }

.catalog-card__text-block {
  position: absolute;
  top: 10px;
  left: 10px; }

.catalog-card__arrow {
  display: none; }

@media (min-width: 768px) {
  .catalog-card__image {
    width: auto;
    height: auto; }
  .catalog-card__title {
    font-size: 18px; }
  .catalog-card__amount {
    font-size: 16px; } }

@media (min-width: 1260px) {
  .catalog-card__title {
    font-size: 24px; }
  .catalog-card__amount {
    font-size: 20px; }
  .catalog-card__text-block {
    top: 35px;
    left: 40px; }
  .catalog-card__arrow {
    position: absolute;
    right: 60px;
    bottom: 40px;
    display: block;
    fill: #757575;
    -webkit-transition: right 0.5s;
    transition: right 0.5s; }
  .catalog-card__link:hover .catalog-card__arrow,
  .catalog-card__link:focus .catalog-card__arrow {
    right: 40px;
    fill: #f78383; } }

.order {
  padding-top: 20px; }

.order__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 78.5%;
  max-width: 485px;
  text-align: center;
  font-size: 24px; }

.order__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px; }

.order__choice-block {
  margin: 0 auto;
  margin-bottom: 10px; }
  .order__choice-block--decor {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .order__title {
    font-size: 28px; }
  .order__subtitle {
    margin-bottom: 27px;
    font-size: 26px; }
  .order__choice-block {
    margin: 0;
    margin-bottom: 20px; }
    .order__choice-block--decor {
      margin-bottom: 0;
      background-image: url("../img/decor-tablet.png");
      background-repeat: no-repeat;
      background-position: 20px 120px; } }

@media (min-width: 1260px) {
  .order {
    padding-top: 35px; }
  .order__title {
    font-size: 40px; }
  .order__subtitle {
    margin-bottom: 45px;
    font-size: 35px; }
  .order__choice-block {
    margin-bottom: 35px; }
    .order__choice-block--decor {
      margin-bottom: 0;
      background-image: url("../img/decor-desktop.png");
      background-position: 10px 170px; } }

.slider {
  position: relative;
  width: 240px; }
  .slider--decor {
    margin-bottom: 40px; }
  .slider--reviews {
    margin: 0 auto;
    width: 280px; }

.slider__wrapper {
  width: 100%;
  overflow: hidden; }

.slider__toggle {
  visibility: hidden; }

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

.slider__amount {
  position: absolute;
  right: 0;
  z-index: 10;
  font-size: 12px;
  color: #2f2f2f;
  opacity: 0.7; }
  .slider__amount--filling {
    top: 135px; }
  .slider__amount--decor {
    top: 220px; }
  .slider__amount--reviews {
    bottom: -15px;
    right: 0;
    color: #f50049; }

@media (min-width: 768px) {
  .slider {
    margin: 0 auto;
    width: 440px; }
    .slider--size {
      width: auto; }
    .slider--decor {
      margin-bottom: 20px; }
  .slider__toggle {
    position: absolute;
    top: 50%;
    visibility: visible;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px rgba(255, 0, 67, 0.1);
            box-shadow: 0 1px 2px rgba(255, 0, 67, 0.1);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s; }
    .slider__toggle--prev {
      left: -65px; }
    .slider__toggle--next {
      right: -65px; }
    .slider__toggle::before, .slider__toggle::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      background-color: #f78383; }
    .slider__toggle--prev::before {
      top: 16px;
      left: 14px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .slider__toggle--prev::after {
      bottom: 16px;
      left: 14px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .slider__toggle--next::before {
      top: 16px;
      right: 14px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .slider__toggle--next::after {
      bottom: 16px;
      right: 14px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .slider__toggle:hover, .slider__toggle:focus {
      -webkit-box-shadow: 0 2px 4px rgba(255, 0, 67, 0.3);
              box-shadow: 0 2px 4px rgba(255, 0, 67, 0.3); }
    .slider__toggle:active {
      -webkit-box-shadow: 0 1px 2px rgba(255, 0, 67, 0.2);
              box-shadow: 0 1px 2px rgba(255, 0, 67, 0.2); }
  .slider__amount {
    font-size: 14px; }
    .slider__amount--filling, .slider__amount--decor {
      top: auto;
      bottom: 15px;
      right: -35px; }
    .slider__amount--reviews {
      bottom: -25px;
      right: 0; } }

@media (min-width: 1260px) {
  .slider {
    margin-top: 20px;
    width: 720px; }
    .slider--size {
      margin-top: 0;
      margin-bottom: 40px;
      width: 880px; }
    .slider--reviews {
      width: 660px; }
  .slider__amount {
    font-size: 18px; } }

.choice-block {
  padding: 8px 20px 15px;
  width: 240px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 13px rgba(163, 6, 60, 0.1);
          box-shadow: 0 5px 13px rgba(163, 6, 60, 0.1); }

.choice-block__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #f50049;
  margin-bottom: 25px;
  font-size: 18px; }

.choice-block__number {
  padding-right: 13px;
  font-size: 30px;
  line-height: 1; }

@media (min-width: 768px) {
  .choice-block {
    padding: 30px 47px 36px;
    width: auto; }
    .choice-block--flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .choice-block--size .choice-block__title {
    margin-bottom: 0; }
  .choice-block__title {
    width: 110px;
    font-size: 18px; }
  .choice-block__number {
    display: block;
    margin-bottom: 5px;
    font-size: 36px; } }

@media (min-width: 1260px) {
  .choice-block {
    padding: 30px 80px 55px; }
  .choice-block__title {
    margin-right: 110px;
    font-size: 27px; }
  .choice-block__number {
    font-size: 64px; } }

.filling-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.filling-list__item {
  text-align: center; }

.filling-list__image {
  position: relative;
  margin-bottom: 15px;
  width: 240px;
  height: 113px;
  background-color: #fbebea; }
  .filling-list__image::before {
    content: "";
    position: absolute;
    bottom: 8px;
    right: 5px;
    width: 17px;
    height: 8px;
    visibility: hidden;
    opacity: 0;
    border: 4px solid #f50049;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }

.filling-list__radio:checked ~ .filling-list__image::before {
  visibility: visible;
  opacity: 1; }

.filling-list__description {
  text-align: left; }

.filling-list__name {
  font-size: 16px;
  font-weight: 700; }

.filling-list__text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px; }

.filling-list__price {
  display: block;
  margin-bottom: 20px;
  font-family: "Playfair Display", "Times", serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center; }

.filling-list__button {
  display: inline-block;
  vertical-align: top;
  padding: 17px 60px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .filling-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0;
    text-align: left; }
  .filling-list__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 210px;
    height: 237px;
    margin-right: 20px;
    margin-bottom: 0; }
  .filling-list__wrapper {
    padding-top: 20px;
    padding-right: 10px;
    width: 200px; }
  .filling-list__name {
    font-size: 18px; }
  .filling-list__price {
    font-size: 20px;
    text-align: left; }
  .filling-list__button {
    padding: 17px 47px; } }

@media (min-width: 1260px) {
  .filling-list__item {
    padding: 20px 0; }
  .filling-list__image {
    margin-right: 45px;
    width: 343px;
    height: 390px; }
  .filling-list__wrapper {
    padding-top: 65px;
    width: 322px; }
  .filling-list__name {
    font-size: 20px; }
  .filling-list__text {
    font-size: 18px; }
  .filling-list__price {
    margin-bottom: 50px;
    font-size: 22px; }
  .filling-list__button {
    padding: 17px 61px; } }

.size-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.size-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px;
  width: 220px;
  text-align: center; }

.size-list__image {
  position: relative;
  margin: auto 0;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s; }
  .size-list__image--one {
    width: 107px;
    height: 107px; }
  .size-list__image--two {
    width: 137px;
    height: 137px; }
  .size-list__image--five {
    width: 150px;
    height: 150px; }
  .size-list__image--eight {
    width: 170px;
    height: 170px; }
  .size-list__image:hover {
    -webkit-box-shadow: 0 6px 16px rgba(103, 12, 40, 0.14);
            box-shadow: 0 6px 16px rgba(103, 12, 40, 0.14); }
  .size-list__image::before {
    content: attr(data-weight);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.size-list__radio:checked ~ .size-list__image {
  -webkit-box-shadow: 0 3px 8px rgba(103, 12, 40, 0.14);
          box-shadow: 0 3px 8px rgba(103, 12, 40, 0.14); }

.size-list__text {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px; }

.size-list__button {
  display: inline-block;
  vertical-align: top;
  padding: 17px 60px; }

@media (min-width: 768px) {
  .size-list {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .size-list__item {
    padding: 0;
    width: auto;
    min-width: 120px;
    text-align: left; }
  .size-list__image {
    margin: 0;
    margin-top: auto;
    margin-bottom: 5px; }
  .size-list__text {
    margin-top: 0; }
  .size-list__button {
    display: none; } }

@media (min-width: 1260px) {
  .size-list__image {
    margin-bottom: 20px; }
    .size-list__image--one {
      width: 140px;
      height: 140px; }
    .size-list__image--two {
      width: 184px;
      height: 184px; }
    .size-list__image--five {
      width: 203px;
      height: 203px; }
    .size-list__image--eight {
      width: 230px;
      height: 230px; }
  .size-list__text {
    font-size: 18px;
    line-height: 30px; } }

.decor-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.decor-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 240px; }

.decor-list__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  width: 170px;
  height: 196px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 0, 67, 0.1);
          box-shadow: 0 2px 5px rgba(255, 0, 67, 0.1);
  background-color: #ffffff; }
  .decor-list__image img {
    margin: auto 0; }
  .decor-list__image::before {
    content: "";
    position: absolute;
    bottom: 8px;
    right: 5px;
    width: 17px;
    height: 8px;
    visibility: hidden;
    opacity: 0;
    border: 4px solid #f50049;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }

.decor-list__radio:checked ~ .decor-list__image::before {
  visibility: visible;
  opacity: 1; }

.decor-list__name {
  margin-bottom: 5px; }

.decor-list__price {
  margin-bottom: 20px;
  font-family: "Playfair Display", "Times", serif;
  font-size: 18px;
  font-weight: bold; }

.decor-list__button {
  display: inline-block;
  vertical-align: top;
  padding: 17px 60px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .decor-list__item {
    width: 196px;
    min-height: 262px;
    margin: 12px;
    -webkit-box-shadow: 0 7px 13px rgba(103, 12, 40, 0.05);
            box-shadow: 0 7px 13px rgba(103, 12, 40, 0.05);
    cursor: pointer; }
    .decor-list__item:hover {
      -webkit-box-shadow: 0 6px 10px rgba(103, 12, 40, 0.14);
              box-shadow: 0 6px 10px rgba(103, 12, 40, 0.14); }
  .decor-list__image {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 196px;
    height: 160px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .decor-list__price {
    margin-bottom: 15px; }
  .decor-list__button {
    display: none; } }

@media (min-width: 1260px) {
  .decor-list__item {
    margin: 20px;
    width: 320px;
    min-height: 432px; }
  .decor-list__image {
    margin-top: 40px;
    margin-bottom: 45px;
    width: 320px;
    height: 260px; }
  .decor-list__name {
    margin: 0;
    font-size: 20px; }
  .decor-list__price {
    font-size: 22px; } }

.order-form {
  width: 240px;
  text-align: center;
  background-color: #ffffff; }

.order-form__block {
  margin: 0;
  padding: 0;
  border: none; }

.order-form__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  font-size: 22px;
  text-align: left; }

.order-form__input {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px; }
  .order-form__input:last-child {
    margin-bottom: 30px; }

.order-form__button {
  padding: 17px 60px; }

@media (min-width: 768px) {
  .order-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .order-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 437px; }
  .order-form__title {
    font-size: 18px; }
  .order-form__input {
    margin: 0; }
    .order-form__input:last-child {
      margin: 0; }
    .order-form__input--fill, .order-form__input--decor {
      width: 160px; }
    .order-form__input--size {
      width: 75px; }
  .order-form__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 17px 32px; } }

@media (min-width: 1260px) {
  .order-form {
    margin-bottom: 15px; }
  .order-form__title {
    margin-bottom: 20px;
    font-size: 27px; }
  .order-form__wrapper {
    width: 805px; }
  .order-form__input {
    font-size: 18px; }
    .order-form__input--fill, .order-form__input--decor {
      width: 250px; }
    .order-form__input--size {
      width: 140px; }
  .order-form__button {
    padding: 17px 63px; } }

.input-text--order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .input-text--order {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .input-text--order .input-text__label {
    font-family: "Intro Script", "Comic Sans MS", cursive;
    font-size: 20px;
    line-height: 30px;
    color: #f50049; }
  .input-text--order .input-text__field {
    padding: 6px;
    width: 100%;
    font: inherit;
    font-size: 16px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .input-text--order .input-text__field::-webkit-input-placeholder {
      color: #000000;
      opacity: 0.5; }
    .input-text--order .input-text__field:-ms-input-placeholder {
      color: #000000;
      opacity: 0.5; }
    .input-text--order .input-text__field::-ms-input-placeholder {
      color: #000000;
      opacity: 0.5; }
    .input-text--order .input-text__field::placeholder {
      color: #000000;
      opacity: 0.5; }

.input-text--question {
  margin: 0; }
  .input-text--question .input-text__field {
    padding: 17px 11px;
    width: 100%;
    font: inherit;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .input-text--question .input-text__field--textarea {
      resize: none; }
    .input-text--question .input-text__field::-webkit-input-placeholder {
      color: #000000;
      opacity: 0.2; }
    .input-text--question .input-text__field:-ms-input-placeholder {
      color: #000000;
      opacity: 0.2; }
    .input-text--question .input-text__field::-ms-input-placeholder {
      color: #000000;
      opacity: 0.2; }
    .input-text--question .input-text__field::placeholder {
      color: #000000;
      opacity: 0.2; }

@media (min-width: 1260px) {
  .input-text--order .input-text__label {
    margin-bottom: 10px;
    font-size: 24px; }
  .input-text--order .input-text__field {
    padding: 10px;
    text-align: left;
    border-radius: 20px; }
  .input-text--question .input-text__field {
    font-size: 18px; } }

.reviews {
  margin-bottom: 20px;
  padding-top: 40px; }

.reviews__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 15px;
  width: 250px; }

.reviews__wrapper {
  text-align: center; }

.reviews__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden; }

.reviews__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

.reviews__work-and-age {
  font-size: 16px; }

.reviews__text {
  margin: 0;
  margin-top: 10px; }

.reviews__link {
  font-style: italic;
  color: #f50049; }

.reviews__toggle {
  display: none; }

@media (min-width: 768px) {
  .reviews {
    margin-bottom: 60px;
    background-image: url("../img/flags-tablet.png");
    background-repeat: no-repeat;
    background-position: center -10px; }
  .reviews__title {
    margin-bottom: 20px;
    font-size: 28px; }
  .reviews__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 440px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .reviews__wrapper {
    width: 255px;
    text-align: left; }
  .reviews__photo {
    margin-right: 25px;
    width: 108px;
    height: 108px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .reviews__toggle {
    position: absolute;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .reviews__toggle--prev {
      left: 90px; }
    .reviews__toggle--next {
      right: 90px; } }

@media (min-width: 1260px) {
  .reviews {
    margin-bottom: 130px;
    padding-top: 70px;
    background-image: url("../img/flags-desktop.png"); }
  .reviews__title {
    margin-bottom: 40px;
    font-size: 40px; }
  .reviews__item {
    width: 660px; }
  .reviews__photo {
    margin-right: 50px;
    width: 209px;
    height: 209px; }
  .reviews__wrapper {
    width: 370px; }
  .reviews__name {
    font-size: 27px; }
  .reviews__work-and-age {
    font-size: 20px; }
  .reviews__text {
    font-size: 18px;
    line-height: 24px; }
  .reviews__toggle--prev {
    left: 200px; }
  .reviews__toggle--next {
    right: 200px; } }

.about-us {
  padding-top: 20px; }

.about-us__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 25px;
  text-align: center;
  font-size: 24px; }

.about-us__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
  font-size: 22px; }

.about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 280px; }

.about-us__photo {
  margin-right: 34px;
  margin-bottom: 10px;
  width: 156px;
  height: 156px;
  border-radius: 50%;
  overflow: hidden; }

.about-us__topic {
  display: inline-block;
  margin-bottom: 8px; }

.about-us__text {
  margin: 0; }

.about-us__text + .about-us__topic {
  margin-top: 15px; }

.about-us__quote {
  display: block;
  margin: 0 auto;
  width: 280px;
  font-family: "Playfair Display", "Times", serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  quotes: none; }
  .about-us__quote::before {
    content: "\275C\275C";
    display: block;
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 2px; }
  .about-us__quote::after {
    content: "";
    display: block;
    width: 64px;
    height: 31px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../img/signature-mobile.png");
    background-repeat: no-repeat;
    background-position: center; }

@media (min-width: 768px) {
  .about-us {
    position: relative;
    margin-bottom: 40px;
    padding: 0 47px;
    padding-top: 40px;
    width: 674px; }
  .about-us__title {
    margin-bottom: 5px;
    font-size: 28px;
    text-align: left; }
  .about-us__subtitle {
    font-size: 26px; }
  .about-us__wrapper {
    margin: 0;
    margin-bottom: 30px;
    width: 335px; }
  .about-us__photo {
    position: absolute;
    top: 10px;
    right: 47px;
    margin: 0;
    width: 311px;
    height: 311px; }
  .about-us__text-block {
    margin-bottom: 20px; }
  .about-us__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .about-us__topic {
    font-size: 18px; }
  .about-us__quote {
    width: 400px;
    font-size: 16px;
    line-height: 24px; }
    .about-us__quote::before {
      margin-bottom: 10px;
      font-size: 40px; }
    .about-us__quote::after {
      width: 82px;
      height: 40px;
      background-image: url("../img/signature-tablet.png"); } }

@media (min-width: 1260px) {
  .about-us {
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 0;
    padding-top: 100px;
    width: 1220px; }
  .about-us__title {
    margin-bottom: 20px;
    font-size: 40px; }
  .about-us__wrapper {
    margin-bottom: 180px;
    width: 560px; }
  .about-us__subtitle {
    margin-bottom: 5px;
    font-size: 35px; }
  .about-us__topic {
    font-size: 20px;
    line-height: 27px; }
  .about-us__text {
    font-size: 18px; }
  .about-us__text + .about-us__topic {
    margin-top: 20px; }
  .about-us__photo {
    top: 80px;
    right: 80px;
    width: 510px;
    height: 510px; }
  .about-us__quote {
    width: 670px;
    font-size: 25px;
    line-height: 38px; }
    .about-us__quote::before {
      font-size: 70px; }
    .about-us__quote::after {
      width: 149px;
      height: 73px;
      background-image: url("../img/signature-desktop.png"); } }

.social-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.social-list__link {
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.social-list__icon {
  margin: auto; }

.social-list--about-us .social-list__item {
  margin-bottom: 15px; }

.social-list--about-us .social-list__link {
  width: 45px;
  height: 45px; }

.social-list--contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px; }
  .social-list--contacts .social-list__item {
    margin-right: 30px; }
  .social-list--contacts .social-list__link {
    width: 63px;
    height: 63px; }

.social-list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .social-list--footer .social-list__item:not(:nth-child(2n)) {
    margin-right: 18px; }
  .social-list--footer .social-list__icon {
    fill: #ffffff;
    opacity: 0.4; }
  .social-list--footer .social-list__link:hover .social-list__icon,
  .social-list--footer .social-list__link:focus .social-list__icon {
    opacity: 1; }

.social-list__link--white {
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s; }
  .social-list__link--white:hover, .social-list__link--white:focus {
    -webkit-box-shadow: 0 5px 8px rgba(255, 0, 67, 0.2);
            box-shadow: 0 5px 8px rgba(255, 0, 67, 0.2); }
  .social-list__link--white:active {
    -webkit-box-shadow: 0 3px 6px rgba(255, 0, 67, 0.2);
            box-shadow: 0 3px 6px rgba(255, 0, 67, 0.2); }
  .social-list__link--white .social-list__icon {
    fill: #f50049; }
  .social-list__link--white:active .social-list__icon {
    opacity: 0.5; }

@media (min-width: 768px) {
  .social-list--about-us .social-list__item {
    margin: 0;
    margin-right: 20px; } }

@media (min-width: 1260px) {
  .social-list--contacts {
    margin-top: 30px; }
  .social-list--footer .social-list__icon {
    fill: #000000; } }

.advantages {
  padding-top: 40px; }

.advantages__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
  text-align: center;
  font-size: 24px; }

.advantages__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px; }

.advantages__wrapper {
  background-color: #ffffff; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 20px;
  margin: 0 auto;
  width: 280px;
  text-align: center; }

.advantages__item {
  position: relative;
  padding-top: 70px;
  margin-bottom: 5px; }
  .advantages__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 85px;
    height: 62px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center; }
  .advantages__item--stuff::before {
    background-image: url("../img/stuff-icon-big.svg"); }
  .advantages__item--fresh::before {
    background-image: url("../img/fresh-icon.png");
    background-size: contain; }

.advantages__text {
  margin: 0; }

.advantages__topic {
  font-size: 16px;
  font-weight: 700; }

@media (min-width: 768px) {
  .advantages {
    margin: 0 auto;
    padding: 0 47px;
    margin-bottom: 200px;
    width: 674px; }
  .advantages__title {
    font-size: 28px; }
  .advantages__subtitle {
    margin-bottom: 40px;
    font-size: 26px; }
  .advantages__wrapper {
    background-color: transparent; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: auto;
    text-align: left; }
  .advantages__item {
    padding-top: 0;
    padding-left: 100px;
    margin-bottom: 15px;
    width: 365px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .advantages__item::before {
      left: 0;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
  .advantages__text {
    margin-top: 7px; } }

@media (min-width: 1260px) {
  .advantages {
    margin-bottom: 370px;
    padding: 0;
    width: 1220px; }
  .advantages__title {
    margin-bottom: 20px;
    font-size: 40px; }
  .advantages__subtitle {
    margin-bottom: 100px;
    font-size: 35px; }
  .advantages__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 43%; }
  .advantages__item {
    margin-bottom: 35px;
    width: 460px;
    font-size: 20px; }
    .advantages__item::before {
      top: 10px;
      left: 0; }
  .advantages__topic {
    font-size: 20px; } }

.care {
  padding-top: 40px; }

.care__wrapper {
  margin: 0 auto;
  width: 280px; }

.care__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
  font-size: 24px; }

.care__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 22px; }

.care__text {
  margin: 0; }

@media (min-width: 768px) {
  .care__title {
    font-size: 28px; }
  .care__subtitle {
    margin-bottom: 5px;
    font-size: 26px; }
  .care__wrapper {
    margin: 0;
    padding-left: 27px;
    width: 325px; } }

@media (min-width: 1260px) {
  .care__wrapper {
    padding-left: 0;
    width: 470px; }
  .care__title {
    margin-bottom: 20px;
    font-size: 40px; }
  .care__subtitle {
    margin-bottom: 5px;
    font-size: 35px; }
  .care__text {
    font-size: 20px; } }

.manual {
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #e3353d; }

.manual__wrapper {
  margin: 0 auto;
  padding: 30px 20px 145px;
  width: 280px;
  background-image: url("../img/manual-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom; }

.manual__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 35px;
  text-align: center;
  font-size: 24px; }

.manual__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: myCounter; }

.manual__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 46px; }
  .manual__item::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    top: -11px;
    left: 20px;
    font-family: "Playfair Display", "Times", serif;
    font-size: 35px;
    line-height: 1; }

.manual__topic {
  font-size: 15px;
  font-weight: 700; }

.manual__text {
  padding: 0;
  margin: 0; }

@media (min-width: 768px) {
  .manual__wrapper {
    margin: 0 auto;
    padding: 50px 47px;
    width: 674px;
    background-image: url("../img/manual-tablet.jpg");
    background-position: left bottom; }
  .manual__title {
    margin-left: 283px;
    font-size: 28px;
    text-align: left; }
  .manual__list {
    margin-left: 283px; }
  .manual__item {
    padding-left: 40px;
    margin-bottom: 30px; }
    .manual__item::before {
      left: 0; }
  .manual__text {
    margin-top: 5px; } }

@media (min-width: 1260px) {
  .manual {
    overflow: hidden; }
  .manual__wrapper {
    padding: 120px 0 160px;
    width: 100%;
    max-width: 1366px;
    background-image: url("../img/manual-desktop.jpg"); }
  .manual__title {
    margin-left: 60%;
    font-size: 40px; }
  .manual__list {
    margin-left: 60%;
    width: 485px; }
  .manual__item {
    padding-left: 45px;
    font-size: 20px; }
    .manual__item::before {
      top: -20px;
      font-size: 64px; }
  .manual__topic {
    font-size: 20px; } }

.contacts {
  margin: 0 auto;
  padding: 20px 0;
  width: 280px; }

.contacts__title {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Times", serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px; }

.contacts__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Intro Script", "Comic Sans MS", cursive;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
  font-size: 22px; }

.contacts__text {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 7px;
  text-align: left; }

.contacts__form {
  margin-bottom: 25px;
  width: 100%;
  text-align: center; }

.contacts__input {
  margin-bottom: 10px; }
  .contacts__input:last-of-type {
    margin-bottom: 20px; }

.contacts__button {
  padding: 17px 50px; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__item {
  margin-bottom: 15px; }

.contacts__link {
  color: inherit;
  text-decoration: none; }

@media (min-width: 768px) {
  .contacts {
    padding: 25px 47px 110px;
    width: 674px; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .contacts__title {
    margin-bottom: 5px;
    font-size: 28px;
    text-align: left; }
  .contacts__subtitle {
    margin-bottom: 15px;
    font-size: 26px; }
  .contacts__form {
    margin-bottom: 0;
    margin-right: 65px;
    width: 345px;
    text-align: left; } }

@media (min-width: 1260px) {
  .contacts {
    margin: 0 auto;
    padding: 55px 0 110px;
    width: 1220px; }
  .contacts__title {
    margin-bottom: 20px;
    font-size: 40px; }
  .contacts__subtitle {
    font-size: 35px; }
  .contacts__form {
    margin-right: 80px;
    width: 550px; }
  .contacts__text {
    margin-bottom: 15px;
    font-size: 20px; }
  .contacts__input {
    margin-bottom: 15px; }
    .contacts__input:last-of-type {
      margin-bottom: 50px; }
  .contacts__item {
    margin-bottom: 20px;
    font-size: 20px; } }

.page-footer {
  padding-top: 35px;
  color: #ffffff;
  background-color: #898989; }

.page-footer__wrapper {
  margin: 0 auto;
  width: 280px; }

.page-footer__phone {
  margin-bottom: 15px; }
  .page-footer__phone a {
    color: inherit;
    text-decoration: none; }

.page-footer__social {
  margin-bottom: 20px; }

.page-footer__copyright {
  margin: 0 auto;
  padding: 8px 0;
  width: 280px;
  font-size: 12px;
  opacity: 0.5;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }
  .page-footer__copyright span {
    display: inline-block;
    vertical-align: text-top; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 728px;
    margin-bottom: 30px; }
  .page-footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 5px; }
  .page-footer__social {
    margin-bottom: 0;
    margin-left: auto; }
  .page-footer__phone {
    display: none; }
  .page-footer__copyright {
    padding: 15px 0;
    width: 636px;
    text-align: center; } }

@media (min-width: 1260px) {
  .page-footer {
    color: #000000;
    background-color: #e7e7e7; }
  .page-footer__wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 40px;
    width: 1220px; }
  .page-footer__nav {
    margin-right: auto; }
  .page-footer__copyright {
    width: 1220px;
    border-top-color: rgba(0, 0, 0, 0.1); } }
