@font-face {
  font-family: "Circe";
  src: url("../fonts/circeregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/circebold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplaybold.woff2") format("woff2"),
    url("../fonts/playfairdisplaybold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Intro Script";
  src: url("../fonts/introscript.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
