@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
  color: inherit;
  text-decoration: none;
}

@mixin block-title {
  padding: 0;
  margin: 0;

  font-family: $other-font;
  font-size: 24px;
  font-weight: 700;
}
