$tablet-width: 768px;
$desktop-width: 1260px;

$main-font: "Circe", "Arial", sans-serif;
$other-font: "Playfair Display", "Times", serif;
$decor-font: "Intro Script", "Comic Sans MS", cursive;
$font-color: #000000;

$light-pink: rgb(251, 235, 234);
$pink: rgb(245, 0, 73);
$gray: rgb(231, 231, 231);
$dark-gray: rgb(221, 221, 221);
$red: rgb(227, 53, 61);

$body-background: $light-pink;
$nav-link-background: $gray;
$button-background: $pink;
$choice-title-color: $pink;
$filling-img-background: $light-pink;
$order-form-label-color: $pink;
$order-input-border: $dark-gray;
$link-color: $pink;
$manual-background: $red;
$footer-background: rgb(137, 137, 137);
$footer-background-desktop: $gray;
$desktop-header-link: $pink;
$amount-color: rgb(47, 47, 47);
$amount-reviews-color: $pink;
$choice-sticker-color: $pink;
