$main-font: "Circe", "Arial", sans-serif;
$other-font: "Playfair Display", "Times", serif;
$decor-font: "Intro Script", "Comic Sans MS", cursive;
$font-color: #000000;

$light-pink: rgb(251, 235, 234);
$pink: rgb(245, 0, 73);
$gray: rgb(231, 231, 231);

$body-background: $light-pink;
$nav-link-background: $gray;
$button-background: $pink;
