.about-us {
  padding-top: 40px;
}

.about-us__title {
  @include block-title;

  margin-bottom: 25px;

  text-align: center;
  font-size: 24px;
}

.about-us__subtitle {
  @include block-subtitle;

  margin-bottom: 10px;

  font-size: 22px;
}

.about-us__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-bottom: 25px;
  width: 280px;
}

.about-us__photo {
  margin-right: 34px;
  margin-bottom: 10px;
  width: 156px;
  height: 156px;

  border-radius: 50%;
  overflow: hidden;
}

.about-us__topic {
  display: inline-block;
  margin-bottom: 8px;
}

.about-us__text {
  margin: 0;
}

.about-us__text + .about-us__topic {
  margin-top: 15px;
}

.about-us__quote {
  display: block;

  margin: 0 auto;
  width: 280px;

  font-family: $other-font;
  font-size: 13px;
  font-weight: 700;
  font-style: italic;
  text-align: center;

  quotes: none;

  &::before {
    content: "\275C\275C";
    display: block;

    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 2px;
  }

  &::after {
    content: "";
    display: block;

    width: 64px;
    height: 31px;
    margin: 0 auto;
    margin-top: 20px;

    background-image: url("../img/signature-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    position: relative;

    padding: 0 47px;
    width: 674px;
  }

  .about-us__title {
    margin-bottom: 5px;

    font-size: 28px;
    text-align: left;
  }

  .about-us__subtitle {
    font-size: 26px;
  }

  .about-us__wrapper {
    margin: 0;
    margin-bottom: 30px;
    width: 335px;
  }

  .about-us__photo {
    position: absolute;
    top: 10px;
    right: 47px;

    margin: 0;
    width: 311px;
    height: 311px;
  }

  .about-us__text-block {
    margin-bottom: 20px;
  }

  .about-us__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    order: 1;
  }

  .about-us__topic {
    font-size: 15px;
  }

  .about-us__quote {
    width: 375px;

    font-size: 14px;
    line-height: 20px;

    &::before {
      margin-bottom: 10px;

      font-size: 40px;
    }

    &::after {
      width: 82px;
      height: 40px;

      background-image: url("../img/signature-tablet.png");
    }
  }
}
