.button {
  padding: 17px 67px;

  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: $button-background;
  border-radius: 25px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 5px 8px rgba(255, 0, 67, 0.3);
  }

  &:active {
    box-shadow: 0 3px 6px rgba(255, 0, 67, 0.3);
  }
}
