.care {
  padding-top: 40px;
}

.care__wrapper {
  margin: 0 auto;
  width: 280px;
}

.care__title {
  @include block-title;

  margin-bottom: 5px;

  font-size: 24px;
}

.care__subtitle {
  @include block-subtitle;

  font-size: 22px;
}

.care__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .care__title {
    font-size: 28px;
  }

  .care__subtitle {
    margin-bottom: 5px;

    font-size: 26px;
  }

  .care__wrapper {
    margin: 0;
    padding-left: 27px;
    width: 325px;
  }
}

@media (min-width: $desktop-width) {
  .care__wrapper {
    padding-left: 0;
    width: 470px;
  }

  .care__title {
    margin-bottom: 20px;

    font-size: 40px;
  }

  .care__subtitle {
    margin-bottom: 5px;

    font-size: 35px;
  }

  .care__text {
    font-size: 20px;
  }
}
