.care {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;
  width: 280px;
}

.care__title {
  @include block-title;

  margin-bottom: 5px;
}

.care__subtitle {
  @include block-subtitle;
}

.care__text {
  margin: 0;
}
