.catalog-card {
  position: relative;

  box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.05);
  overflow: hidden;
}

.catalog-card__link {
  @include reset-link;
}

.catalog-card__image {
  width: 280px;
  height: 120px;
}

.catalog-card__title {
  padding: 0;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
}

.catalog-card__amount {
  font-size: 12px;

  opacity: 0.7;
}

.catalog-card__text-block {
  position: absolute;
  top: 10px;
  left: 10px;
}

.catalog-card__arrow {
  display: none;
}

@media (min-width: $tablet-width) {
  .catalog-card__image {
    width: auto;
    height: auto;
  }

  .catalog-card__title {
    font-size: 18px;
  }

  .catalog-card__amount {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__title {
    font-size: 24px;
  }

  .catalog-card__amount {
    font-size: 20px;
  }

  .catalog-card__text-block {
    top: 35px;
    left: 40px;
  }

  .catalog-card__arrow {
    position: absolute;
    right: 60px;
    bottom: 40px;

    display: block;

    fill: rgb(117, 117, 117);
    transition: right 0.5s;
  }

  .catalog-card__link:hover,
  .catalog-card__link:focus {
    .catalog-card__arrow {
      right: 40px;

      fill: rgb(247, 131, 131);
    }
  }
}
