.choice-block {
  padding: 8px 20px 15px;

  width: 240px;

  background-color: #ffffff;
}

.choice-block__title {
  @include block-title($choice-title-color);
  margin-bottom: 25px;

  font-size: 16px;
}

.choice-block__number {
  padding-right: 13px;

  font-size: 30px;
  line-height: 1;
}

.choice-block__slider {
  width: 240px;

  overflow: hidden;

  input[type="radio"] {
    display: none;
  }
}
