.contacts {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 280px;
}

.contacts__title {
  @include block-title;

  text-align: center;
  font-size: 24px;
}

.contacts__subtitle {
  @include block-subtitle;

  margin-bottom: 5px;

  font-size: 22px;
}

.contacts__text {
  display: inline-block;
  margin-bottom: 7px;

  text-align: left;
}

.contacts__form {
  margin-bottom: 25px;
  width: 100%;

  text-align: center;
}

.contacts__input {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.contacts__button {
  padding: 17px 50px;
}

.contacts__list {
  @include reset-list;
}

.contacts__item {
  margin-bottom: 15px;
}

.contacts__link {
  @include reset-link;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 45px 47px 110px;
    width: 674px;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .contacts__title {
    margin-bottom: 5px;

    font-size: 28px;
    text-align: left;
  }

  .contacts__subtitle {
    margin-bottom: 15px;
    font-size: 26px;
  }

  .contacts__form {
    margin-bottom: 0;
    margin-right: 65px;
    width: 345px;
  }

  .contacts__form {
    text-align: left;
  }
}
