.decor-list {
  @include reset-list;
}

.decor-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;

  width: 240px;
  text-align: center;
}

.decor-list__image {
  position: relative;

  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;

  width: 170px;
  height: 196px;

  box-shadow: 0 2px 5px rgba(255, 0, 67, 0.1);
  background-color: #ffffff;

  img {
    margin: auto 0;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 8px;
    right: 5px;

    width: 17px;
    height: 8px;

    visibility: hidden;
    opacity: 0;

    border: 4px solid $choice-sticker-color;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    transition: all 0.8s;
  }
}

.decor-list__image-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.decor-list__radio:checked ~ .decor-list__image::before {
  visibility: visible;
  opacity: 1;
}

.decor-list__tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  padding: 5px 15px;

  font-size: 16px;
  color: #fff;

  background-color: red;
}

.decor-list__name {
  margin-bottom: 5px;
}

.decor-list__price {
  margin-bottom: 20px;

  font-family: $other-font;
  font-size: 18px;
  font-weight: bold;
}

.decor-list__button {
  display: inline-block;
  vertical-align: top;

  padding: 17px 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .decor-list__item {
    width: 196px;
    min-height: 262px;
    margin: 12px;

    box-shadow: 0 7px 13px rgba(103, 12, 40, 0.05);
    cursor: pointer;

    &:hover {
      box-shadow: 0 6px 10px rgba(103, 12, 40, 0.14);
    }
  }

  .decor-list__image {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 196px;
    height: 160px;

    box-shadow: none;
  }

  .decor-list__price {
    margin-bottom: 15px;
  }

  .decor-list__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .decor-list__item {
    margin: 20px;
    width: 320px;
    min-height: 432px;
  }

  .decor-list__image {
    margin-top: 40px;
    margin-bottom: 45px;
    width: 320px;
    height: 260px;
  }

  .decor-list__name {
    margin: 0;

    font-size: 20px;
  }

  .decor-list__price {
    font-size: 22px;
  }
}
