.filling-list {
  @include reset-list;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.filling-list__item {
  text-align: center;
}

.filling-list__image {
  margin-bottom: 35px;
  width: 240px;
  height: 113px;

  background-color: $filling-img-background;
}

.filling-list__description {
  text-align: left;
}

.filling-list__name {
  font-size: 16px;
  font-weight: 700;
}

.filling-list__text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.filling-list__price {
  display: block;
  margin-bottom: 20px;

  font-family: $other-font;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.filling-list__button {
  display: inline-block;
  padding: 17px 60px;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .filling-list__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 20px 10px;

    text-align: left;
  }

  .filling-list__image {
    flex-shrink: 0;

    width: 210px;
    height: 237px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .filling-list__wrapper {
    padding-top: 20px;
    width: 250px;
  }

  .filling-list__name {
    font-size: 18px;
  }

  .filling-list__price {
    font-size: 20px;
    text-align: left;
  }

  .filling-list__button {
    padding: 17px 47px;
  }
}

@media (min-width: $desktop-width) {
  .filling-list__item {
    padding: 20px;
  }

  .filling-list__image {
    margin-right: 45px;
    width: 343px;
    height: 390px;
  }

  .filling-list__wrapper {
    padding-top: 65px;
    width: 290px;
  }

  .filling-list__name {
    font-size: 20px;
  }

  .filling-list__text {
    font-size: 18px;
  }

  .filling-list__price {
    margin-bottom: 50px;

    font-size: 22px;
  }

  .filling-list__button {
    padding: 17px 61px;
  }
}
