.input-text--order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  .input-text__label {
    font-family: $decor-font;
    font-size: 20px;
    line-height: 30px;
    color: $order-form-label-color;
  }

  .input-text__field {
    padding: 6px;
    width: 100%;

    font: inherit;
    font-size: 14px;
    text-align: center;

    border: 1px solid $order-input-border;
    border-radius: 15px;
    box-sizing: border-box;
    appearance: none;

    &::placeholder {
      color: $font-color;
      opacity: 0.5;
    }
  }
}

.input-text--question {
  margin: 0;

  .input-text__field {
    padding: 17px 11px;
    width: 100%;

    font: inherit;
    font-size: 14px;

    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    appearance: none;

    &--textarea {
      resize: none;
    }

    &::placeholder {
      color: $font-color;
      opacity: 0.2;
    }
  }
}
