.input-text--order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &:last-child {
    margin-bottom: 30px;
  }

  .input-text__label {
    font-family: $decor-font;
    font-size: 20px;
    line-height: 30px;
    color: $order-form-label-color;
  }

  .input-text__field {
    padding: 6px;
    width: 100%;

    font: inherit;
    text-align: center;

    border: 1px solid $order-input-border;
    border-radius: 15px;
    box-sizing: border-box;

    &::placeholder {
      color: $font-color;
      opacity: 1;
    }
  }
}

.input-text--question {
  margin: 0;

  .input-text__field {
    padding: 17px 11px;
    width: 100%;

    font: inherit;

    box-sizing: border-box;
    border: none;
    border-radius: 5px;

    &--textarea {
      resize: none;
    }

    &::placeholder {
      color: $font-color;
      opacity: 0.2;
    }
  }
}
