.manual {
  color: #ffffff;

  background-color: $manual-background;
}

.manual__wrapper {
  margin: 0 auto;
  padding: 30px 20px 145px;
  width: 280px;

  background-image: url("../img/manual-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.manual__title {
  @include block-title(#ffffff);

  margin-bottom: 35px;

  text-align: center;
  font-size: 24px;
}

.manual__list {
  @include reset-list;

  counter-reset: myCounter;
}

.manual__item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 46px;

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);

    position: absolute;
    top: -11px;
    left: 20px;

    font-family: $other-font;
    font-size: 35px;
    line-height: 1;
  }
}

.manual__topic {
  font-size: 15px;
  font-weight: 700;
}

.manual__text {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .manual__wrapper {
    margin: 0 auto;

    padding: 50px 47px;
    width: 674px;

    background-image: url("../img/manual-tablet.jpg");
    background-position: left bottom;
  }

  .manual__title {
    margin-left: 283px;
    font-size: 28px;
    text-align: left;
  }

  .manual__list {
    margin-left: 283px;
  }

  .manual__item {
    padding-left: 40px;
    margin-bottom: 30px;

    &::before {
      left: 0;
    }
  }

  .manual__text {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .manual {
    overflow: hidden;
  }

  .manual__wrapper {
    padding: 120px 0 160px;
    width: 100%;
    max-width: 1366px;

    background-image: url("../img/manual-desktop.jpg");
  }

  .manual__title {
    margin-left: 60%;
    font-size: 40px;
  }

  .manual__list {
    margin-left: 60%;
    width: 485px;
  }

  .manual__item {
    padding-left: 45px;

    font-size: 20px;

    &::before {
      top: -20px;
      font-size: 64px;
    }
  }

  .manual__topic {
    font-size: 20px;
  }
}
