.order {
  padding-top: 40px;
}

.order__title {
  @include block-title;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 78.5%;
  max-width: 355px;

  text-align: center;
  font-size: 24px;
}

.order__subtitle {
  @include block-subtitle;
  margin-bottom: 15px;

  text-align: center;
  font-size: 22px;
}

.order__choice-block {
  margin: 0 auto;
  margin-bottom: 10px;

  &--decor {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .order__title {
    font-size: 28px;
  }

  .order__subtitle {
    margin-bottom: 27px;

    font-size: 26px;
  }

  .order__choice-block {
    margin: 0;
    margin-bottom: 20px;

    &--decor {
      margin-bottom: 0;

      background-image: url("../img/decor-tablet.png");
      background-repeat: no-repeat;
      background-position: 20px 120px;
    }
  }
}
