.order-form {
  width: 240px;

  text-align: center;

  background-color: #ffffff;
}

.order-form__block {
  margin: 0;
  padding: 0;

  border: none;
}

.order-form__title {
  @include block-title;

  margin-bottom: 10px;

  font-size: 22px;
  text-align: left;
}

.order-form__input {
  margin: 0;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 30px;
  }
}

.order-form__button {
  padding: 17px 62px;
}

@media (min-width: $tablet-width) {
  .order-form {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .order-form__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    width: 437px;
  }

  .order-form__title {
    font-size: 18px;
  }

  .order-form__input {
    margin: 0;

    &:last-child {
      margin: 0;
    }

    &--fill,
    &--decor {
      width: 160px;
    }

    &--size {
      width: 75px;
    }
  }

  .order-form__button {
    align-self: flex-end;
    padding: 17px 32px;
  }
}
