.page-header {
  position: relative;
  z-index: 1;
}

.page-header__wrapper {
  position: relative;

  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0 auto;

  background-color: #ffffff;
}

.page-header__phone {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    padding: 16px 47px 12px;
    width: 100%;

    box-sizing: border-box;
  }

  .page-header__phone {
    display: block;
    margin-right: 40px;

    a {
      @include reset-link;

      font-size: 15px;
      line-height: 32px;
      font-weight: 700;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1220px;
    padding: 50px 20px 0;

    background: none;
  }

  .page-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .page-header__phone {
    margin-right: 0;

    a {
      font-size: 22px;
    }
  }
}
