.page-footer {
  padding-top: 35px;

  color: #ffffff;

  background-color: $footer-background;
}

.page-footer__wrapper {
  margin: 0 auto;

  width: 280px;
}

.page-footer__phone {
  margin-bottom: 15px;

  a {
    @include reset-link;
  }
}

.page-footer__social {
  margin-bottom: 20px;
}

.page-footer__copyright {
  margin: 0 auto;
  padding: 8px 0;
  width: 280px;

  font-size: 12px;

  opacity: 0.5;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

  span {
    display: inline-block;
    vertical-align: text-top;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;

    width: 728px;
    margin-bottom: 30px;
  }

  .page-footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin-top: 5px;
  }

  .page-footer__social {
    margin-bottom: 0;
    margin-left: auto;
  }

  .page-footer__phone {
    display: none;
  }

  .page-footer__copyright {
    padding: 15px 0;
    width: 636px;

    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    color: $font-color;

    background-color: $footer-background-desktop;
  }

  .page-footer__wrapper {
    align-items: flex-end;

    margin-bottom: 40px;
    width: 1220px;
  }

  .page-footer__nav {
    margin-right: auto;
  }

  .page-footer__copyright {
    width: 1220px;

    border-top-color: rgba($font-color, 0.1);
  }
}
