.page-header {
  width: 100%;
}

.page-header__nav {
  margin-bottom: 130px;

  background-color: #ffffff;
}

.page-header__nav--no-js {
  margin-bottom: 0;

  .main-nav__list--header {
    position: static;

    visibility: visible;
    opacity: 1;
  }

  .main-nav__button {
    display: none;
  }
}

.page-header__phone {
  display: none;
}
