.promo {
  padding: 0 20px;

  text-align: center;
}

.promo__title {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;

  width: 200px;

  font-family: $other-font;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

.promo__subtitle {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;

  width: 200px;

  font-family: $decor-font;
  font-size: 22px;
  font-weight: 400;
}

.promo__list {
  @include reset-list;

  text-align: left;
}

.promo__item {
  position: relative;

  padding-left: 42px;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    width: 33px;
    height: 33px;

    background-color: #f75885;
  }
}

.promo__button {
  @include reset-link;

  display: inline-block;

  color: #ffffff;
}
