.promo {
  padding-top: 130px;

  text-align: center;
}

.promo__title {
  @include block-title;
  margin-bottom: 15px;

  font-size: 40px;
}

.promo__subtitle {
  @include block-subtitle;

  margin-bottom: 15px;

  font-size: 22px;
}

.promo__list {
  @include reset-list;

  margin: 0 auto;
  width: 280px;

  text-align: left;
}

.promo__item {
  position: relative;

  padding-left: 42px;
  margin-bottom: 30px;

  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;

    width: 33px;
    height: 33px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--stuff::before {
    background-image: url("../img/stuff-icon-mobile.svg");
  }

  &--delivery::before {
    background-image: url("../img/delivery-icon-mobile.svg");
  }
}

.promo__button {
  @include reset-link;

  display: inline-block;

  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 47px;
    padding-top: 110px;
    margin-bottom: 50px;

    width: 674px;

    text-align: left;

    background-image: url("../img/cake1-tablet.png");
    background-repeat: no-repeat;
    background-position: right 10px;
  }

  .promo__title {
    width: 275px;

    font-size: 60px;
    line-height: 55px;
  }

  .promo__subtitle {
    margin-bottom: 50px;

    font-size: 36px;
  }

  .promo__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    order: 1;

    margin: 0;
    width: auto;

    font-size: 14px;
    line-height: 18px;
  }

  .promo__item {
    padding-left: 67px;

    &::before {
      top: -15px;

      width: 55px;
      height: 55px;
    }

    &--stuff {
      width: 195px;

      &::before {
        background-image: url("../img/stuff-icon-tablet.svg");
      }
    }

    &--delivery {
      width: 220px;

      &::before {
        background-image: url("../img/delivery-icon-tablet.svg");
      }
    }
  }

  .promo__button {
    margin-bottom: 145px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 140px 20px 0;
    margin-bottom: 200px;
    width: 1220px;

    background-image: none;
  }

  .promo__title {
    margin-bottom: 25px;
    width: 370px;

    font-size: 78px;
    line-height: 70px;
    letter-spacing: 3px;
  }

  .promo__subtitle {
    font-size: 40px;
  }
}
