.reviews {
  margin-bottom: 20px;
  padding-top: 40px;
}

.reviews__title {
  @include block-title;

  margin-bottom: 15px;

  text-align: center;
  font-size: 24px;
}

.reviews__list {
  @include reset-list;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;

  padding: 0 15px;
  width: 250px;
}

.reviews__wrapper {
  text-align: center;
}

.reviews__photo {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  overflow: hidden;
}

.reviews__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.reviews__work-and-age {
  font-size: 16px;
}

.reviews__text {
  margin: 0;
  margin-top: 10px;
}

.reviews__link {
  font-style: italic;
  color: $link-color;
}

.reviews__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 60px;

    background-image: url("../img/flags-tablet.png");
    background-repeat: no-repeat;
    background-position: center -10px;
  }

  .reviews__title {
    margin-bottom: 20px;

    font-size: 28px;
  }

  .reviews__item {
    align-items: flex-start;
    flex-direction: row;

    width: 440px;
    padding: 0 20px;

    box-sizing: border-box;
  }

  .reviews__wrapper {
    width: 255px;

    text-align: left;
  }

  .reviews__photo {
    margin-right: 25px;
    width: 108px;
    height: 108px;

    flex-shrink: 0;
  }

  .reviews__toggle {
    position: absolute;
    top: 50%;

    display: block;

    transform: translateY(-50%);

    &--prev {
      left: 90px;
    }

    &--next {
      right: 90px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 130px;
    padding-top: 70px;

    background-image: url("../img/flags-desktop.png");
  }

  .reviews__title {
    margin-bottom: 40px;

    font-size: 40px;
  }

  .reviews__item {
    width: 660px;
  }

  .reviews__photo {
    margin-right: 50px;
    width: 209px;
    height: 209px;
  }

  .reviews__wrapper {
    width: 370px;
  }

  .reviews__name {
    font-size: 27px;
  }

  .reviews__work-and-age {
    font-size: 20px;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__toggle {
    &--prev {
      left: 200px;
    }

    &--next {
      right: 200px;
    }
  }
}
