.social-list {
  @include reset_list;
}

.social-list__item {
  margin-bottom: 15px;
}

.social-list__link {
  @include reset-link;
  display: block;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background-color: #ffffff;

  &:hover,
  &:focus {
    box-shadow: 0 5px 8px rgba(255, 0, 67, 0.2);
  }

  &:active {
    box-shadow: 0 3px 6px rgba(255, 0, 67, 0.2);
  }
}
